// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/page1/page1";

@import "../pages/page2/page2";

.slide-zoom
{
    height: 100%;
}

.scroll-content {
    display: flex;
    flex-direction: column;
}

.ion-grid {
    padding: 0;
    height: 100%;
}

.ion-row {
    flex: 1;
}

.checkbox-disabled + .item-inner ion-label
{
    opacity: 0.8 !important;
}