

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col>
                {{pageData.body}}
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-list>
                    <ion-item *ngFor="let option of pageData.options">
                        <ion-label left>{{option.body}}</ion-label>
                        <ion-checkbox [(ngModel)]="option.isSelected" disabled="{{revealingRightAnswer}}"></ion-checkbox>
                        <ion-label end style="margin:0;" *ngIf="revealingRightAnswer &&  option.isRight == option.isSelected && option.isSelected" secondary  ><ion-icon end small name="checkmark-circle"></ion-icon></ion-label>
                        <ion-label end style="margin:0;" *ngIf="revealingRightAnswer &&  option.isRight && !option.isSelected" danger  ><ion-icon end small name="checkmark-circle"></ion-icon></ion-label>
                        <ion-label end style="margin:0;" *ngIf="revealingRightAnswer && !option.isRight && option.isSelected" danger><ion-icon end small name="close-circle"></ion-icon></ion-label>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-buttons (click)="revealRightAnswer()">
                <button round *ngIf="!revealingRightAnswer">
                    <ion-icon left name="checkmark-circle"></ion-icon>
                    <ion-label>überprüfen</ion-label>
                </button>
                <button round disabled danger *ngIf="revealingRightAnswer && allRightAnswers==false">
                    <ion-icon left name="close-circle"></ion-icon>
                    <ion-label>überprüfen</ion-label>
                </button>
                <button round disabled secondary *ngIf="revealingRightAnswer && allRightAnswers">
                    <ion-icon left name="checkmark-circle"></ion-icon>
                    <ion-label>überprüfen</ion-label>
                </button>
                </ion-buttons>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
