<ion-header>
    
    <ion-navbar>
        <ion-label start style="margin-left: 8px;">
            <ion-icon name="{{chapterData.icon}}" item-left></ion-icon>
            {{chapterData.title}}
        </ion-label>
        
        <ion-buttons *ngIf="!chapterData.progressive" end style="margin-right: 13px;">
            <button ion-button *ngIf="wrongAnswers()<1" color="danger">
                <ion-icon style="font-size: 1em; min-width: 16px;" name="heart"></ion-icon>
            </button>
            <button ion-button *ngIf="wrongAnswers()>=1" color="danger" disabled>
                <ion-icon style="font-size: 1em; min-width: 16px;" name="heart-outline" ></ion-icon>
            </button>
            <button ion-button *ngIf="wrongAnswers()<2" color="danger">
                <ion-icon style="font-size: 1em; min-width: 16px;" name="heart"></ion-icon>
            </button>
            <button ion-button *ngIf="wrongAnswers()>=2" color="danger" disabled>
                <ion-icon style="font-size: 1em; min-width: 16px;" name="heart-outline" ></ion-icon>
            </button>
            <button ion-button *ngIf="wrongAnswers()<3" color="danger">
                <ion-icon style="font-size: 1em; min-width: 16px;" name="heart"></ion-icon>
            </button>
            <button ion-button *ngIf="wrongAnswers()>=3" color="danger" disabled>
                <ion-icon style="font-size: 1em; min-width: 16px;" name="heart-outline" ></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons end (click)="dismiss()">
            <button ion-button small dark>
                <ion-icon name="close-circle"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    
    <ion-item>
        <ion-range #ranger min="0" max="{{chapterData.parts.length}}" snaps="true" color="secondary" item-left>
            <ion-icon  range-right small name="trophy"></ion-icon>
        </ion-range>
    </ion-item>
</ion-header>


<ion-content class="has-header chapter-page" style="background: #04d47f; touch-action: none;">
    <ion-slides #slider 
    (ionSlideDidChange)="onSlideChanged()">

        <ion-slide *ngFor="let page of chapterData.parts" >
            <quizPage [pageData]="page"></quizPage>
        </ion-slide>

    </ion-slides>
</ion-content>

<ion-footer *ngIf="showNextOrGoNext()">
    <ion-toolbar>
        <ion-buttons end>
            <button ion-button icon-start color="secondary" (click)="goNext()">
                <ion-icon end name="play"></ion-icon>
                <ion-label>next</ion-label>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>

<ion-footer *ngIf="isEnd && chapterData.parts[currentIndex] && chapterData.parts[currentIndex].answered">
    <ion-toolbar>
        <ion-buttons end>
            <button ion-button icon-start color="secondary" (click)="dismiss()">
                <ion-icon end name="trophy"></ion-icon>
                <ion-label>Beenden</ion-label>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>