chapter {
    ion-range * {
        pointer-events: none;
    }

    .footer {
        &::before {
            background: none;
        }
        .toolbar .toolbar-background {
            background: none;
        }
    }
    
}